/* .rows{
    text-decoration-color: brown;
    background-color: blueviolet;
    margin: 10px;
    border: 2px solid black;
    text-decoration: solid;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
} */